/* ESTILOS GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-black: #2f4f4f;
  --color-white: #eaddb2;
  --color-primary: #80b8a7;
  --color-secondary: #e2aa6e;
  --color-accent: #7f5836;
  --font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, img {
  user-select: none;
}

a {
  color: inherit;
}

a.reset {
  text-decoration: none;
}